*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: #0f0e45;
	--lightBlue: #244e73;
    --backBlue: #1c3879;
    --grey: #bbbbbb;
    --white: #ffffff;
}

header{
    width: 100%;
    height: 80px;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
}

header a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}

#sect1{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sect1-1{
	width: 65%;
	height: 90%;
    background-image: url(../assets/img/img1.jpg);
    background-size: cover;
}

#sect1-2{
	width: 30%;
	height: 90%;
    background-color: var(--backBlue);
    color: var(--white);
}

#sect1-2 h1{
    font-size: 60px;
    padding: 30px;
    line-break: auto;
}

#sect1-2 div{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
}

#sect1-2 a{
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 20px;
    padding: 10px 20px;
}

#sect2{
    width: 100%;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.high-text{
    font-family: serif;
    font-size: 60px;
    letter-spacing: 10px;
    color: var(--lightBlue);
}

#sect3{
    width: 100%;
    height: 400px;
    background-image: url(../assets/img/img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#sect4{
    width: 100%;
    height: 600px;
    background-color: white;
}

#sect4 h2{
    text-align: center;
    margin: 80px;
}

.item-row{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
}

.item{
    width: 15%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#sect5{
    width: 100%;
    height: 450px;
    background-image: url(../assets/img/img4.jpg);
    background-repeat: no-repeat;
    margin-top: 50px;
    background-size: cover;
}

#sect6{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.item-row div{
    width: 20%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: var(--lightBlue);
}

footer{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
}

footer a{
    text-decoration: none;
    color: var(--white);
}